@charset "Shift_JIS";


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

　初期化

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　ページ全体
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　html
============================================================*/
html
{
	overflow-y:scroll;
}


/*============================================================
　body
============================================================*/
body
{
	cursor:default;
	margin:0;
	padding:0;
	font-family:"ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Osaka, sans-serif;
	line-height:1;
	-webkit-text-size-adjust:100%;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　文章構成
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　h1, h2, h3, h4, h5, h6
============================================================*/
h1,
h2,
h3,
h4,
h5,
h6
{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:100%;
}


/*============================================================
　address
============================================================*/
address
{
	font-style:normal;
}


/*============================================================
　p
============================================================*/
p
{
	margin:0;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　リスト
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　dl, dt, dd
============================================================*/
dl,
dt,
dd
{
	margin:0;
	padding:0;
}


/*============================================================
　ol, ul, li
============================================================*/
ol,
ul,
li
{
	margin:0;
	padding:0;
	list-style-type:none;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　フォーム
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　form
============================================================*/
form
{
	margin:0;
	padding:0;
}


/*============================================================
　input, select, textarea
============================================================*/
input,
select,
textarea
{
	font-size:100%;
	font-family:inherit;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="image"]:hover
{
	cursor:pointer;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　テーブル
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　caption
============================================================*/
caption
{
	text-align:left;
	caption-side:top;
}


/*============================================================
　table, th, td
============================================================*/
table
{
	margin:0;
	padding:0;
	width:100%;
	table-layout:auto;
	border-collapse:collapse;
	empty-cells:show;
}

table tr th,
table tr td
{
	padding:0;
	vertical-align:middle;
}

table tr th
{
	text-align:left;
	font-weight:normal;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　強調
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　em
============================================================*/
em
{
	font-style:normal;
}


/*============================================================
　strong
============================================================*/
strong
{
	font-weight:normal;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　その他
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/


/*============================================================
　a
============================================================*/
a
{
	text-decoration:underline;
}

a:hover
{
	cursor:pointer;
	text-decoration:none;
}


/*============================================================
　img
============================================================*/
a img
{
	border:0;
}


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

　各ページ共通

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　ページ全体
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body
{
	color:#333333;
	background-color:#bbbbbb;
	font-size:13px;
}

body div#wrapper div#header,
body div#wrapper div#topicpath,
body div#wrapper div#contents
{
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	width:980px;
	background-color:#ffffff;
}

body div#wrapper div#globalnavi ul,
body div#wrapper div#flow,
body div#wrapper div#footer > div
{
	margin:0 auto;
	width:1000px;
}

body div#wrapper div#flow,
body div#wrapper div#topicpath,
body div#wrapper div#contents
{
	box-shadow:0 3px 3px rgba(0,0,0,0.2) inset;
}


/*============================================================
　リンク
============================================================*/
body a
{
	color:#fd8a02;
}

body a:hover
{
	color:#fec581;
}


/*============================================================
　ボタン
============================================================*/
body a img:hover,
body input[type="submit"]:hover
{
	opacity:0.75;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　ヘッダ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#header
{
	padding-top:10px;
	padding-bottom:10px;
}

body div#wrapper div#header h1,
body div#wrapper div#header div.area_information,
body div#wrapper div#header div.area_sns
{
	display:table-cell;
	min-height:36px;
	vertical-align:top;
}


/*============================================================
　サイト名
============================================================*/
body div#wrapper div#header h1
{
	padding-right:10px;
	width:168px;
}


/*============================================================
　インフォメーション
============================================================*/
body div#wrapper div#header div.area_information
{
	width:400px;
}

body div#wrapper div#header div.area_information p:nth-child(2)
{
	display:inline-block;
	margin-top:5px;
	padding:4px 12px;
	color:#ffffff;
	background-color:#fd8a02;
	letter-spacing:1px;
	font-weight:bold;
	border-radius:20px;
}


/*============================================================
　Twitter・Facebook
============================================================*/
body div#wrapper div#header div.area_sns
{
	width:402px;
	text-align:right;
	vertical-align:middle;
}

body div#wrapper div#header div.area_sns ul li
{
	display:inline-block;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　グローバルナビ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#globalnavi
{
	background-color:#feb800;
	background-image:        linear-gradient(#feb800, #fea741);
	background-image:    -ms-linear-gradient(#feb800, #fea741);
	background-image:   -moz-linear-gradient(#feb800, #fea741);
	background-image:     -o-linear-gradient(#feb800, #fea741);
	background-image:-webkit-linear-gradient(#feb800, #fea741);
	box-shadow:0 3px 3px rgba(0,0,0,0.15);
}

body div#wrapper div#globalnavi ul li
{
	display:inline-block;
	padding:5px 0;
	width:200px;
	min-height:30px;
	text-align:center;
	line-height:30px;
}

body div#wrapper div#globalnavi ul li a
{
	display:block;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(0,0,0,0.25);
}

body div#wrapper div#globalnavi ul li + li a
{
	border-left:1px solid #f39902;
}

body div#wrapper div#globalnavi ul li a:hover,
body div#wrapper div#globalnavi ul li.current a
{
	background-color:#be6701;
	background-image:        linear-gradient(#be6701, #feb800);
	background-image:    -ms-linear-gradient(#be6701, #feb800);
	background-image:   -moz-linear-gradient(#be6701, #feb800);
	background-image:     -o-linear-gradient(#be6701, #feb800);
	background-image:-webkit-linear-gradient(#be6701, #feb800);
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　フロー
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#flow
{
	padding-top:20px;
	background-color:#ffffff;
}

body div#wrapper div#flow ol li
{
	display:inline-block;
	position:relative;
	border-width:2px 0;
	border-style:solid;
	border-color:#fd8a02;
	width:250px;
	height:26px;
	color:#fd8a02;
	text-align:center;
	line-height:26px;
}

body div#wrapper div#flow ol li.current
{
	color:#ffffff;
	background-color:#fd8a02;
	letter-spacing:1px;
	font-weight:bold;
}


/*============================================================
　アロー
============================================================*/
body div#wrapper div#flow ol li:before,
body div#wrapper div#flow ol li:after
{
	position:absolute;
	top:50%;
	margin-top:-14px;
	border-width:14px;
	border-style:solid;
	width:0;
	height:0;
	content:"";
}

body div#wrapper div#flow ol li:before
{
	right:-28px;
	border-color:#ffffff #ffffff #ffffff #fd8a02;
}

body div#wrapper div#flow ol li:after
{
	right:-26px;
	border-color:transparent transparent transparent #ffffff;
}

body div#wrapper div#flow ol li:last-child:before,
body div#wrapper div#flow ol li:last-child:after
{
	opacity:0;
}


/*--------------------------------------------------
　カレント
--------------------------------------------------*/
body div#wrapper div#flow ol li.current:after
{
	left:-2px;
	opacity:1;
}

body div#wrapper div#flow ol li.current:first-child:after
{
	opacity:0;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　パンくずナビ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#topicpath
{
	padding-top:20px;
}

body div#wrapper div#flow + div#topicpath
{
	padding-top:10px;
	box-shadow:none;
}

body div#wrapper div#topicpath ol li
{
	display:inline-block;
}

body div#wrapper div#topicpath ol li + li:before
{
	content:" > ";
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　コンテンツ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#contents
{
	padding-top:20px;
	padding-bottom:20px;
}

body div#wrapper div#topicpath + div#contents
{
	box-shadow:none;
}

body div#wrapper div#contents > div + div
{
	margin-top:40px;
}


/*============================================================
　見出し
============================================================*/
body div#wrapper div#contents > div h2
{
	margin:0 -10px 15px;
	padding:10px;
	border-width:1px 0;
	border-style:solid;
	border-color:#c0c0c0;
	background-color:#eeeeee;
	background-image:        linear-gradient(#ffffff, #eeeeee);
	background-image:    -ms-linear-gradient(#ffffff, #eeeeee);
	background-image:   -moz-linear-gradient(#ffffff, #eeeeee);
	background-image:     -o-linear-gradient(#ffffff, #eeeeee);
	background-image:-webkit-linear-gradient(#ffffff, #eeeeee);
}


/*============================================================
　フォーム
============================================================*/
body div#wrapper div#contents > div form input[type="text"],
body div#wrapper div#contents > div form select
{
	padding:3px;
	border:1px solid #aaaaaa;
	background-color:#ffffff;
	border-radius:3px;
}

body div#wrapper div#contents > div form input[type="text"]:hover,
body div#wrapper div#contents > div form select:hover
{
	border-color:#fd8a02;
}

body div#wrapper div#contents > div form input[type="submit"]
{
	padding:5px 10px;
	border:2px solid #fec581;
	color:#ffffff;
	background-color:#fd8a02;
	background-image:        linear-gradient(#fec581, #fd8a02);
	background-image:    -ms-linear-gradient(#fec581, #fd8a02);
	background-image:   -moz-linear-gradient(#fec581, #fd8a02);
	background-image:     -o-linear-gradient(#fec581, #fd8a02);
	background-image:-webkit-linear-gradient(#fec581, #fd8a02);
	letter-spacing:1px;
	font-weight:bold;
	font-size:16px;
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow:1px 1px 0 #ffffff inset, -1px 1px 0 #ffffff inset, 1px -1px 0 #ffffff inset, -1px -1px 0 #ffffff inset;
	border-radius:5px;
}


/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
　フッタ
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
body div#wrapper div#footer
{
	padding:20px 0 10px;
	background-color:#e0e0e0;
}


/*============================================================
　ナビゲーション
============================================================*/
body div#wrapper div#footer > div div.area_navigation
{
	margin-bottom:20px;
}


/*--------------------------------------------------
　リスト
--------------------------------------------------*/
body div#wrapper div#footer > div div.area_navigation ul
{
	display:table-cell;
	width:250px;
}

body div#wrapper div#footer > div div.area_navigation ul + ul
{
	padding-left:10px;
	border-left:1px dotted #a0a0a0;
	width:239px;
}


/* 親階層
----------------------------------------*/
body div#wrapper div#footer > div div.area_navigation ul li
{
	padding-left:10px;
	min-height:10px;
	background:url(../img/common/footer_ico.gif) 0 3px no-repeat;
}

body div#wrapper div#footer > div div.area_navigation ul li + li
{
	margin-top:10px;
}


/* 子階層
----------------------------------------*/
body div#wrapper div#footer > div div.area_navigation ul li ul li
{
	margin-top:10px;
	padding-left:0;
	min-height:1px;
	background:none;
}

body div#wrapper div#footer > div div.area_navigation ul li ul li:before
{
	content:"├ ";
}

body div#wrapper div#footer > div div.area_navigation ul li ul li:last-child:before
{
	content:"└ ";
}


/*--------------------------------------------------
　リンク
--------------------------------------------------*/
body div#wrapper div#footer > div div.area_navigation ul li div a,
body div#wrapper div#footer > div div.area_navigation ul li ul li a
{
	color:#be6701;
}

body div#wrapper div#footer > div div.area_navigation ul li div a:hover,
body div#wrapper div#footer > div div.area_navigation ul li ul li a:hover
{
	color:#fd8a02;
}


/*============================================================
　コピーライト
============================================================*/
body div#wrapper div#footer > div div.area_copyright ul li
{
	display:table-cell;
	color:#808080;
	vertical-align:middle;
	font-size:12px;
	text-shadow:0 1px 0 #ffffff;
}


/*--------------------------------------------------
　ロゴ
--------------------------------------------------*/
body div#wrapper div#footer > div div.area_copyright ul li:nth-child(1)
{
	padding-right:10px;
	width:84px;
}


/*--------------------------------------------------
　コピーライト
--------------------------------------------------*/
body div#wrapper div#footer > div div.area_copyright ul li:nth-child(2)
{
	padding-right:10px;
	width:296px;
}


/*--------------------------------------------------
　注意事項
--------------------------------------------------*/
body div#wrapper div#footer > div div.area_copyright ul li:nth-child(3)
{
	width:600px;
	text-align:right;
}


/** EOF **/